body{
    align-content: center;
}

#header{
    width: 110%;
    float: left;
    height: 3.7vw;
    text-align: center;
    background-color: #003b4c;
    color: white;
    margin-left: -3.7%;
    margin-top: -1.52%;
    margin-bottom: 1.5%;
    padding: 0px;
    float: left;
    
}

path {
    stroke: rgba(0,0,0,0.2);
    stroke-width: 1px;
}

#create-event:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

#create-event:active {
  border: 2px solid #888;
}

#delete-event {
  background-color: rgba(255, 100, 100, 0.2);
}

#delete-event:hover {
  background-color: rgba(255, 100, 100, 0.5);
}

#event-selection-box {
  min-width: 100%;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 1);
}

#event-selection-box span {
  margin-right: 0.75rem;
}

.separator {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#event-selection-box * {
  margin-top: 0;
}

#admin-only-text {
  display: block;
  text-decoration: underline;
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
  font-weight: 800;
}

#download-data {
  background-color: rgba(57, 120, 170, 0.7);
  color: white;
  font-weight: 800;
}

#download-data:hover {
  background-color: rgba(57, 120, 170, 0.9);
}

#download-data:active {
  border: 2px solid #888;
}

#data-overview {
  position: absolute;
  right: 3rem;
  top: 5rem;
  display: block;
  max-width: 16rem;
  font-size: 2rem;
  font-weight: 200;
}
.overview-data {
  font-weight: 800 !important;
}